
<!-- /*
* Author: Megyeri Márk Máté
* Copyright: 2021, Megyeri Márk Máté
* Group: Szoft V
* Date: 2023-02-06
* Github: https://github.com/megyerimark/
* Licenc: GNU GPL
*/ -->

<div class="calcForm">

    <h2 class="text-center">Sugár</h2>
    <div class="mt-4">
     <input type="text" name="sugar" id="sugar" placeholder="Sugár"
    [formControl] ="sugar"
    class="form-control">
</div>

    <h2 class="text-center">Hossz</h2>
    <div class="mt-4">
     <input type="text" name="hossz" id="hossz" placeholder="hossz"
    [formControl] ="hossz"
    class="form-control"
    (keyup)="onKeyup($event)">
</div>

<div class="mt-3"
        *ngIf="areaVisible">
            <input type="text"
            readonly
            [formControl]="area"
            class="form-control"
            placeholder="Eredmény">
        </div>

 


</div>

